<section id="warehouse">
  <h1>Galpão: <%= @warehouse.code %></h1>

  <div>
    <p><%= flash[:notice] %></p>
  </div>

  <div>
    <h3>Descrição: <%= @warehouse.description %></h3>

    <dl>
      <dt>Nome:</dt>
      <dd><%= @warehouse.name %></dd>

      <dt>Cidade:</dt>
      <dd><%= @warehouse.city %></dd>

      <dt>Área:</dt>
      <dd><%= @warehouse.area %> m2</dd>

      <dt>Endereço:</dt>
      <dd><%= @warehouse.address %></dd>

      <dt>CEP:</dt>
      <dd><%= @warehouse.cep %></dd>
    </dl>
  </div>  
</section>

<div>
  <p><%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %></p>
  <p><%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %></p>
</div>


<div>
  <p><%= link_to 'Voltar', root_path %></p>
</div>