<section id="warehouse">
  <h1>Galpão: <%= @warehouse.code %></h1>

  <div>
    <p><%= flash[:notice] %></p>
  </div>

  <div>
    <h3>Descrição: <%= @warehouse.description %></h3>

    <dl>
      <dt>Nome:</dt>
      <dd><%= @warehouse.name %></dd>

      <dt>Cidade:</dt>
      <dd><%= @warehouse.city %></dd>

      <dt>Área:</dt>
      <dd><%= @warehouse.area %> m2</dd>

      <dt>Endereço:</dt>
      <dd><%= @warehouse.address %></dd>

      <dt>CEP:</dt>
      <dd><%= @warehouse.cep %></dd>
    </dl>
  </div>  
</section>

<div>
  <p><%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %></p>
  <p><%= button_to('Remover', warehouse_path(@warehouse.id), method: :delete) %></p>
</div>

<section id="stock_products">
  <h2>Itens em estoque:</h2>
  <% @stocks.each_pair do |pm, quantity| %>
    <%= quantity %> x <%= pm.sku %>
  <% end %>
</section>

<section id="stock_destination">
  <h2>Saída de estoque</h2>
  <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse.id)) do |f| %>
    <div>
      <%= f.label(:product_model_id, 'Item para saída') %><br>
      <%= f.collection_select(:product_model_id, @product_models, :id, :sku) %>
    </div>
    <div>
      <%= f.label(:recipient, 'Destinatário') %><br>
      <%= f.text_field(:recipient) %>
    </div>
    <div>
      <%= f.label(:address, 'Endereço Destino') %><br>
      <%= f.text_field(:address) %>
    </div>

    <div>
      <%= f.submit 'Confirmar retirada' %>
    </div>
  <% end %>
</section>

<div>
  <p><%= link_to 'Voltar', root_path %></p>
</div>